
* {
    box-sizing: border-box;
}



body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

}
h1 {
    color: red;
}

#play-area {
    border: black solid 2px;
    overflow: hidden;

}

.square {
    width: 5em;
    height: 5em;
    float: left;
    border: black solid 1px;
    background-color: white;
    cursor: pointer;
}

.square:hover {
    background-color: orange;
    color: white;
}
.row1,.row2,.row3{
    display: flex;
    justify-content: center;
    align-content: center;
}
.restart{
    
    margin-top: 10px;
}
#confirm{
    margin-top: 5px;
}